@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #EBF3FE;
    --primary-900: #1E3A8A;
    --primary-500: #34A1DE;
    --primary-600: #2B8BC5;
    --grey-500: #6B7280;
    --grey-600: #4B5563;
    --action-300: #EF4444;
    --action-light-100: #FEE2E2;
  }

  html {
    font-family: "Roboto", sans-serif;

    scroll-behavior: smooth;
  }
}